.u-section-1-1 .u-sheet-1 {
  min-height: 611px;
}

.u-section-1-1 .u-text-1 {
  margin: 352px 377px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 179px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    margin-right: 113px;
  }
}.u-section-1-2 .u-sheet-1 {
  min-height: 611px;
}

.u-section-1-2 .u-text-1 {
  margin: 339px auto 60px 504px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-1 {
    margin-left: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-text-1 {
    margin-left: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    margin-left: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    margin-left: 150px;
  }
}.u-block-74c3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-74c3-3 {
  position: absolute;
  left: 0;
}

.u-block-74c3-4 {
  position: absolute;
  right: 0;
}