option {
  color: black;
}

.u-section-1 .u-sheet-1 {
  min-height: 730px;
}

.u-section-1 .u-text-1 {
  margin: 143px auto 0;
}

.u-section-1 .u-group-1 {
  width: 570px;
  background-image: none;
  min-height: 316px;
  margin: 50px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 19px auto 0;
}

.u-section-1 .u-form-1 {
  height: 130px;
  width: 510px;
  margin: 13px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}

.qrcode {
  border: 3px solid #86c232;
  border-radius: 13px;
}